<% include ../../component/jsLoad %>
<% if(!params.noSource){ %>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="//weblibs.rxhui.com/compLibrary_rxh/css/themes/yy_white2.css?1.0">
    <link rel="stylesheet" href="//weblibs.rxhui.com/library_rxh2/style.css?1.0">
<% } %>

<!-- 港股通资金流向 赵波 2019.10.22 -->
<%if(info.data){%>
<%
    var shareholderAmountList = JSON.stringify(info.data.shareholderAmountList);
%>
<div class="rxh_gap">
    <div class="rxh_list rxh_list_colN">
        <div class="box_chart_shareholders">
            <!-- 图表 -->
            <div id="chart<%= sn %>" class="box_chart01"></div>
        </div>
    </div>
</div>
<% }else{ %>
    <div class="rxhBD_text rxh_text01">
        <div class="rxh_hd_text">
            <span>暂无数据</span>
        </div>
    </div>
<% } %>
<script>

  var companyHolderChangeView<%- sn %> = {
    onViewReady: function () {
      var arr = '<%- shareholderAmountList %>';
      var shareholderAmountList = JSON.parse(arr);
      new LineColumnChart('chart<%= sn %>', shareholderAmountList.reverse());
    }
  }

  <% if(!params.noSource) { %>
  var jsArr = JSON.parse('<%- JSON.stringify(params.jsArray) %>');
  loadJs(jsArr, companyHolderChangeView<%- sn %>.onViewReady)
  <% } %>


</script>
