<% include ../../component/jsLoad %>
<% if(!params.noSource){ %>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="//weblibs.rxhui.com/compLibrary_rxh/css/themes/yy_white2.css?1.0">
    <link rel="stylesheet" href="//weblibs.rxhui.com/library_rxh2/style.css?1.0">
<% } %>

<!-- 融资排行 2019.10.22 -->
<%if(info.data){%>
<%
    let pageSize = 10;
    let inStocks = info.data;
    var hideClass = "";
    var hideClass1 = "";
    if (inStocks.length > 10) {
        hideClass = commonUtil.generateRandomClassName('hide');
    }
%>

<div class="rxh_gap">
    <div class="rxh_list rxh_list_colN">
        <ol>
            <li class="rxh_li_shrink6"><span>姓名</span></li>
            <li class="rxh_li_grow"><span class="rxh_right">职位</span></li>
            <li class="rxh_li_shrink6"><span>持股</span></li>
        </ol>
        <%
        for (var i=0; i<inStocks.length; i++) {
            let item = inStocks[i];
        %>
        <ul class="<%= i>=pageSize?hideClass:'' %>" style="display: <%= i >= pageSize?'none':'' %>;">
            <li class="rxh_li_shrink6">
                <p class="rxh_gray rxh_font14"><%= item.managerName %></p>
            </li>
            <li class="rxh_li_grow">
                <p class="rxh_ellipsis1 rxh_font14"><%= item.infoList[0].post %></p>
            </li>
            <li class="rxh_li_shrink6">
                <p class="rxh_right"><%= commonUtil.formatNumber(item.infoList[0].hldAmount) %></p>
            </li>
        </ul>
        <%}%>
        <%
        if (inStocks.length > 10) {
            moreId = commonUtil.generateRandomClassName('moreId');
        %>
        <div id="<%= moreId %>" class="rxh_btnMore rxh_btnMore_blue"><a onclick="showMoreArticle('<%= hideClass %>','<%= moreId %>','<%= pageSize %>')">查看更多<i class="rxh-icon-arrow2_d"></i></a></div>
        <% } %>
    </div>
</div>
<% }else{ %>
    <div class="rxhBD_text rxh_text01">
        <div class="rxh_hd_text">
            <span>暂无数据</span>
        </div>
    </div>
<% } %>
<script>

  var mobilityListView<%- sn %> = {
    onViewReady: function () {

    }
  }

  <% if(!params.noSource) { %>
  var jsArr = JSON.parse('<%- JSON.stringify(params.jsArray) %>');
  loadJs(jsArr, mobilityListView<%- sn %>.onViewReady)
  <% } %>

  /**
   * 点击加载更多
   * @param hideClass
   * @param moreId
   * @param stepSize 步长，即每次展示的条数，默认值为2
   * @param getQuota 1, 0  股票推荐答案中的股票行情分页取，否则多了取不到
   */
  function showMoreArticle(hideClass, moreId, stepSize, getQuota) {
    if (!stepSize)
      stepSize = 2;
    else
      stepSize = parseInt(stepSize);

    //根据隐藏项的class，取出标签列表
    var list = $('.' + hideClass);
    var arrStockCode = [];

    for (var i = 0; i < list.length && i < stepSize; i++) {
      var divReport = $(list[i]);
      divReport.show();
      divReport.removeClass(hideClass); //移除
      //处理文字内容多的情况
      var contentIds = divReport.find('[id^=contentId]');
      var expandBtnIds = divReport.find('[id^=expandBtnId]');
      if (contentIds && expandBtnIds) {
        for (var j = 0; j < contentIds.length; j++) {
        }
      }
    }
    //再取一遍看是否还有隐藏项，判断是否显示加载更多
    list = $('.' + hideClass);
    if (list.length === 0){
      $('#' + moreId).remove();
    }
  }
</script>
