<% include ./component/params %>
<% include ./component/preAnswer %>
<% include ./component/jsLoad %>
<div class='bd' id="answer<%= sn %>">
    <div class='mb'>
        <div class="box_show box_show_r3">
            <h5 id="<%= contentId %>" class="show_row3"><%- data %></h5>
            <a id="<%= expandBtnId %>" class="a_more"
               onclick="expandContent('<%= expandBtnId %>','<%= contentId %>','<%= foldBtnId %>')">展开<i
                        class="icon-arrowD"></i></a>
            <a id="<%= foldBtnId %>" style="display: none" class="a_more"
               onclick="foldContent('<%= foldBtnId %>','<%= contentId %>','<%= expandBtnId %>')">收起<i
                        class="icon-arrowT"></i></a>
        </div>
        <% include ./component/ratingLabel %>
    </div>
</div>
<script>
  var jsNo = 0;
  var frameId = '<%= frameId %>';
  var sn = '<%= sn %>';

  var industryIntro = {
    onViewReady: function () {
      resizeUtils.init(frameId,sn);
    }
  }

  var jsArr = ['/static/js/libs/jquery-1.11.2.min','/static/js/utils/toolsUtil','/static/js/utils/resizeUtils'];
  loadJs(jsArr, industryIntro.onViewReady)


  try {
    thas.nodeFunction('questionAnalyse', '<%- JSON.stringify(info.questionAnalyse[0]) %>');
  } catch (error) {

  }

  function nodeQuestion(item) {
    try {
      thas.nodeFunction('info', item)
    } catch (error) {

    }
  }

  /**
   * 展开隐藏内容
   * @param expandBtnId
   * @param contentId
   * @param foldBtnId
   */
  function expandContent(expandBtnId, contentId, foldBtnId) {
    $('#' + expandBtnId).hide();
    $('#' + foldBtnId).show();
    $('#' + contentId).removeClass('show_row3');
  }

  /**
   * 收缩内容
   * @param foldBtnId
   * @param contentId
   * @param expandBtnId
   */
  function foldContent(foldBtnId, contentId, expandBtnId) {
    $('#' + foldBtnId).hide();
    $('#' + contentId).addClass('show_row3');
    $('#' + expandBtnId).show();
  }

  function prependAskDialog(question, value) {
    // alert(question);
  }

 //传给安卓的语音信息
 var speechAnwser = '<%-info.speechAnswerContent%>';
  var info_app = '<%-info.answerResultType%>';
  if(window.contestapp){
      try {
          window.contestapp.speakAnswer(speechAnwser,1,info_app);
      } catch (error) {
        console.log(speechAnwser,1,info_app);
      }
  }else{
    console.log(speechAnwser,1,info_app);
  }
</script>





