<% include ./component/params %>
<% include ./component/preAnswer %>
<div class="bd" id="answer<%=sn%>">
    <div class="mb">
        <div class="md_v1 md_tlbox">
            <%=info.preAnswerContent%>
            <%for(var i=0;i<info.data.length;i++){%>
            <li><span onclick="nodeQuestion('<%=info.data[i]%>')"><%=info.data[i]%></span></li>
            <%}%>
        </div>
    </div>
</div>

<script>
try {
    thas.nodeFunction('questionAnalyse','<%- JSON.stringify(info.questionAnalyse[0]) %>');
} catch (error) {
    
}
    function nodeQuestion(item) {
        try {
            thas.nodeFunction('info',item)            
        } catch (error) {
            
        }
    }
</script>




