<div class="rxhBD_md_event">
    <div class="rxhBD_hd">
        <%= commonUtil.changeTime(item.publishAt) %><b></b>
    </div>
    <div class="rxhBD_hot">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAA70lEQVQoU23Qr0olQBQH4O9nEGERBAURX8AgqGBcg8GyJoNg8hUWo4LFYBLh+gpbRDDZRdCwyT8YdOOCyIYVgxose2TkXljEgYE5nG/OmTPxYVXVAh6SnPdS+QTN4BjzSS5b/jM0jrvunkny9x1VVQsuuucJ3HQ7/Eiymqoaxi2WkpxV1Tq2u+gfJhvaxBZe8AvT6MMp5rDT0HXTHwZoFWbxs11s6BX9/5X/jU6STlX9wVBD9xjDFb4laXEbZgDPeGpoF2vYS/K917aqlnGA/YYGcYJRLCa5qqopHKG97Wvvn75gAysYwSMO21ckeXgDOqNiKNk4jNMAAAAASUVORK5CYII=" alt=""><%= item.hot %>°<b></b>
    </div>
    <div class="rxhBD_bd">
        <h3 onclick="infomationEventView.openDetail('<%= item.id %>')"><%= item.subject %> | <%=item.predicate %> | <%= item.object %></h3>
        <h5 onclick="infomationEventView.openDetail('<%= item.id %>')"><%= item.content %></h5>

        <!-- 百叶窗 -->
        <div class="rxhBD_shades_event">
            <!--
                1. 展开项     dl加样式名：rxh_open    dt的i标签样式名是：icon-arrow4_T
                2. 收起项     dl没有样式名            dt的i标签样式名是：icon-arrow4_D
            -->
            <dl class="rxh_open">
                <dd class="rxh_line_halfT">
                    <div id="info<%= sn %><%= index %>" class="rxhBD_timeLine">
                        <% for(var i = 0;i < item.infos.length;i++){
                          var news = item.infos[i];
                        %>
                        <dl>
                            <dt>
                                <b></b>
                                <s></s>
                            </dt>
                            <dd>
                                <h6><span><%= commonUtil.changeTime(news.publishAt) %></span><em><%= news.mediaFrom || ""%></em></h6>
                                <h5><a href="<%= news.url %>" target="_blank"><%= news.title %></a></h5>
                            </dd>
                        </dl>
                        <%}%>
<!--                        <dl>-->
<!--                            <dt>-->
<!--                                <b></b>-->
<!--                                <s></s>-->
<!--                            </dt>-->
<!--                            <dd>-->
<!--                                <h6><span>2019-06-10</span><em>东方财富网</em></h6>-->
<!--                                <h5><a href="yy_eventDetail.html" target="_blank">股价创新高！本周要干这件大事-->
<!--                                        茅台距千元大关就差3毛钱 市值超中石油</a></h5>-->
<!--                            </dd>-->
<!--                        </dl>-->
                    </div>
                    <%if(item.showMore){%>
                    <a id="moreInfo<%= sn %><%= index %>" name="1" onclick="showMore('<%= item.infoIds %>','<%= sn %><%= index %>', this)" class="rxhBD_more">
                        <span >展开更多</span><i class="icon-arrow2_D"></i>
                    </a>
                    <%}%>
                </dd>
            </dl>
            <dl style="display: none">
                <dt class="rxh_shades_hd"><span>事件回溯</span><i class="icon-arrow4_D"></i></dt>
                <dd class="rxh_line_halfT">
                    <div class="rxhBD_timeLine">
                        <dl>
                            <dt>
                                <b></b>
                                <s></s>
                            </dt>
                            <dd>
                                <h6><span>2019-06-10</span><em>东方财富网</em></h6>
                                <h5><a href="yy_eventDetail.html" target="_blank">股价创新高！本周要干这件大事
                                        茅台距千元大关就差3毛钱 市值超中石油</a></h5>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <b></b>
                                <s></s>
                            </dt>
                            <dd>
                                <h6><span>2019-06-10</span><em>东方财富网</em></h6>
                                <h5><a href="yy_eventDetail.html" target="_blank">股价创新高！本周要干这件大事
                                        茅台距千元大关就差3毛钱 市值超中石油</a></h5>
                            </dd>
                        </dl>
                    </div>
                    <a class="rxhBD_more">
                        <span>展开更多</span><i class="icon-arrow2_D"></i>
                    </a>
                </dd>
            </dl>
        </div>

        <!-- 标签 -->
        <div class="rxhBD_label">
            <!--
                1. 显示全部      rxhBD_box标签加样式名：rxhBD_showAll      i标签的样式名是：icon-arrow_T_small
                2. 只显示一行    rxhBD_box标签无样式名                     i标签的样式名是：icon-arrow_D_small
            -->
            <div id="more<%= sn %><%= index %>" class="rxhBD_box">
                <%for(var i=0;i<item.ners.length;i++){
                %>
                    <b><%= item.ners[i] %></b>
                <%}%>
            </div>
            <i onclick="showMoreNers(this)" id="moreBtn<%= sn %><%= index %>" class="icon-arrow_D_small"></i>
        </div>
    </div>
</div>



